*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{width: 100%;
height: 50%;
padding: 1%;
position: relative;}

.header__logo{position: absolute;
    left: 5%;
    top: calc(50px*.35);
    width: 150px;
    height: 25px;

}

.btn{
    border: none;
    height: 50px;
    width: 175px;
    background: linear-gradient(117deg,hsl(136, 65%, 51%)0%,hsl(192, 70%, 51%)100%);
    border-radius: 25px;
        color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn:hover{background: hsl(192, 70%, 80%);
    background: linear-gradient(117deg,hsl(136, 65%, 51%)0%,hsl(192, 70%, 51%)100%);
   }

   @media screen and (min-width: 992px){
    .header{
        padding: 0;
        height: 90px;
        display: flex;
        flex-flow:row nowrap ;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .header__logo{
        position: inherit;
        width: 160px;
    } 
    .header nav{
        width:clamp(500px,50%,500px);
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        align-self: stretch;
    }
    .header-nav-list{
        width: 100%;
        display: flex ;
        flex-flow:row nowrap ;
    justify-content: space-evenly;}

      .nav-list-item{list-style: none;
        align-self: stretch;
position: relative;
      }


      .header-nav-link{
        height: 100%;
        text-decoration: none;
        color: hsl(233, 8%, 62%);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

      }
      .header-nav-link:hover::before{
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient( hsl(136, 65%, 51%)0%),(hsl(192, 70%, 51%)100%);
      }

      .btn{ 
        scale: 0.9;
      }

       .btn--header{ display: inline;

       }
    .btn:hover::after{
        position: relative;
        top:0;
        left:0;
        border-radius: 25px;
        width: 100%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center; 
        align-items: center;
    }
   }
   